body {
  display: grid;
  place-items: center;

  height: 100vh;
}

.App {
  height: 800px;
  width: 450px;

  border-top: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  position: relative;
}

header {
  height: 100px;
  width: 100%;

  display: flex;
}

footer {
  position: absolute;
  bottom: 0;

  border-top: 1px solid black;

  width: 100%;
}

.menu {
  height: 100%;
  width: 50%;

  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  position: relative;
}

.menu p {
  margin-left: 10px;
}

.add-edit-hud {
  height: 100%;
  width: 50%;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.add-car-screen {
  margin-left: 10px;

  position: relative;
}

.add-car-form {
  margin-top: 17px;
}

.add-car-screen input {
  border: 1px solid black;
  margin-top: 5px;
  height: 20px;
}

.add-car-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.cancel-btn {
  position: absolute;
  top: -17px;
  right: 0;
}

.submit-btn {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.item {
  border-bottom: 1px solid black;

  position: relative;

  height: 100px;
}

.item-edit {
  border-bottom: 1px solid black;

  position: relative;

  display: flex;
  flex-direction: column;

  height: 100px;
}

.item-edit button {
  position: absolute;
  bottom: 0;
}

.item-edit input {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  width: 35%;

  padding: 2px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-edit input:nth-child(1) {
  margin-top: 16.5px;
}

.item p {
  padding: 2px;
  margin-left: 10px;
}

.collapse {
  position: absolute;
  top: -20px;
  right: 15px;

  border: 1px solid black;

  height: 20px;
  width: 20px;

  text-align: center;

  font-weight: bold;

  cursor: pointer;
}

.pagination {
  display: flex;

  list-style: none;

  padding: 10px;
}

.pagination li {
  margin: 1px;
}

.pagination li a {
  padding: 5px;

  text-decoration: none;

  color: #000;

  border: 1px solid black;
}
